name: release

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  pull:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: kubernetes-sigs/kustomize
          ref: refs/pull/6017/merge
          path: kustomize
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: kustomize/go.work
          cache-dependency-path: kustomize/go.work.sum
      - run: make kustomize
        working-directory: kustomize
      - run: kustomize version

      - uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: kustomize build

  publish:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: kubernetes-sigs/kustomize
          ref: refs/pull/6017/merge
          path: kustomize
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: kustomize/go.work
          cache-dependency-path: kustomize/go.work.sum
      - run: make kustomize
        working-directory: kustomize
      - run: kustomize version

      - uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: kustomize build config/default > manifest.yaml
      - run: kustomize publish ghcr.io/${{ github.repository }}/manifests
